<!-- The following HTML is taken from Creative Tim's creation wizard and edited by me -->
<div class="content">
    <div class="container"><!-- Big container -->
        <div class="container">
            <% include ../layouts/partials/alerts %>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="wizard-container"> 
                    <div class="card wizard-card ct-wizard-blue" id="wizardProfile">
                    <!-- You can switch "ct-wizard-orange" with one of the next bright colors: "ct-wizard-blue", "ct-wizard-green", "ct-wizard-orange", "ct-wizard-red" -->
                        <form action="" method="POST">
                        	<div class="wizard-header">
                            	<h3>
                                    CREATE A NEW CAMPAIGN
                                    <br>
                            	    <small>
                                        This wizard will walk you through creating a new campaign.
                                    </small>
                            	</h3>
                        	</div>
                        	<ul>
                                <li><a href="#about" data-toggle="tab">About</a></li>
                                <li><a href="#account" data-toggle="tab">Type</a></li>
                                <li><a href="#address" data-toggle="tab">Location</a></li>
                            </ul>
                            
                            <div class="tab-content">
                                <div class="tab-pane" id="about">
                                  <div class="row">
                                    <h4 class="info-text">
                                        First, create a name, id and password for your campaign.
                                    </h4>
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                            <div class="form-group">
                                                <label>Campaign Name <small>(required)</small></label>
                                                <input name="name" type="text" class="form-control" placeholder="ex. Cones of Dunshire" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-xs-10 col-xs-offset-1">
                                            <div class="form-group">
                                                <label>Campaign ID <small>(required)</small></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="url-addon">http://compactia.com/</span>
                                                    <input name="identifier" type="text" class="form-control" placeholder="ex. dunshire234" aria-describedby="url-addon" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                           <div class="picture-container">
                                                <div class="picture">
                                                    <img src="/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title=""/>
                                                    <input type="file" id="wizard-picture">
                                                </div>
                                                <h6>Campaign Insignia<br /><small>(optional)</small></h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-xs-10 col-xs-offset-1">
                                            <div class="form-group">
                                              <label>Campaign Password <small>(required)</small></label>
                                              <input name="password" type="password" class="form-control" placeholder="********" minlength="8" required>
                                            </div>
                                            <div class="form-group">
                                              <label>Re-enter Password <small>(required)</small></label>
                                              <input name="password2" type="password" class="form-control" placeholder="********" minlength="8" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="tab-pane" id="account">
                                    <h4 class="info-text">Campaign Type</h4>
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="col-sm-6">
                                                <div class="choice" data-toggle="wizard-checkbox">
                                                    <input type="checkbox" name="type" value="physical">
                                                    <div class="icon">
                                                        <i class="pe-7s-map-2"></i>
                                                    </div>
                                                    <h6>Physical</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="choice" data-toggle="wizard-checkbox">
                                                    <input type="checkbox" name="type" value="virtual">
                                                    <div class="icon">
                                                        <i class="pe-7s-network"></i>
                                                    </div>
                                                    <h6>Virtual</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="address">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="info-text">Campaign Location</h4>
                                        </div>
                                        <div class="col-sm-10 col-sm-offset-1">
                                             <div class="form-group">
                                                <label>Street</label>
                                                <input type="text" class="form-control" name="street" placeholder="ex. 6 Merlin Circle">
                                              </div>
                                        </div>
                                        <div class="col-sm-5 col-sm-offset-1">
                                             <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" name="city" placeholder="ex. Camelot">
                                              </div>
                                        </div>
                                        <div class="col-sm-5">
                                             <div class="form-group">
                                                <label>State</label><br>
                                                <input type="text" name="state" class="form-control" placeholder="ex. Avalon">
                                              </div>
                                        </div>
                                        <div class="col-sm-5 col-sm-offset-1">
                                              <div class="form-group">
                                                <label>Country</label><br>
                                                 <input type="text" name="country" class="form-control" placeholder="ex. Isle of Glass">
                                              </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input type="text" class="form-control" name="zip" placeholder="ex. 01010">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="pull-right">
                                    <input type='button' class='btn btn-next btn-fill btn-info btn-wd btn-sm' name='next' value='Next' />
                                    <input type='submit' class='btn btn-finish btn-fill btn-info btn-wd btn-sm' name='finish' value='CREATE' />
            
                                </div>
                                
                                <div class="pull-left">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                                </div>
                                <div class="clearfix"></div>
                            </div>	
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>