<div class="content">
    <div class="container-fluid">
  		<div class="row">
            <div class="col-sm-12">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="row">
	                    <div class="col-xs-6">
	                        <button href="#" class="btn btn-simple" alt="share on Facebook">
	                        	<i class="fa fa-facebook-square"></i> <label>Campaign Name</label>
	                        </button> 
	                    </div>
	                    <div class="col-xs-6 text-right">
	                        <button href="#" class="btn btn-simple" alt="share on Facebook">
	                        	<i class="fa fa-facebook-square"></i></button>
	                        <button href="#" class="btn btn-simple" alt="tweet this campaign">
	                        	<i class="fa fa-twitter"></i></button>
	                        <button href="#" class="btn btn-simple" alt="share on google plus">
	                        	<i class="fa fa-google-plus-square"></i></button>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="campaignInfo" class="card">
                    <div class="header">
                        <h4 class="title">Campaign Details 
                        	<button class="btn btn-simple edit">
                        		<small><i class="pe-7s-note"></i> Edit</small>
                        	</button>
                        </h4>
                    </div>
                    <div class="content">
                        <form action="" class="put-form">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name" readonly>
                                        <!-- Hidden input to carry ID -->
                                        <input type="hidden" class="form-control" name="id" value="3">
                                    </div>        
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input type="text" class="form-control" name="identifier" readonly>
                                    </div>        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Type</label>
                                        <input type="text" class="form-control" name="type" readonly>
                                    </div>        
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input type="text" class="form-control" name="status" readonly>
                                    </div>        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea rows="5" class="form-control" name="desc" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right hidden save saveChanges">Save Changes</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                 <div id="campaignLocation" class="card">
                    <div class="header">
                        <h4 class="title">Campaign Location 
                        	<button class="btn btn-simple edit">
                        		<small><i class="pe-7s-note"></i> Edit</small>
                        	</button>
                        </h4>
                    </div>
                    <div class="content">
                        <form action="" class="put-form">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label>Street</label>
                                        <input type="text" class="form-control" name="street" readonly>
                                        <!-- Hidden input to carry ID -->
                                        <input type="hidden" class="form-control" name="id" value="3">
                                    </div>        
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" name="city" readonly>
                                    </div>        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>State</label>
                                        <input type="text" class="form-control" name="state" readonly>
                                    </div>        
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control" name="country" readonly>
                                    </div>        
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="text" class="form-control" name="zip" readonly>
                                    </div>        
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right hidden save saveChanges">Save Changes</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>                    
    </div>
</div>