* {
    outline: none;
}
p {
    text-align: justify;
}
footer {
    clear: both;
    background-color: white;
    padding: 0px 15px;
    font-size: 12px;
    border-top: 1px solid #e7e7e7;
}
footer a {
    font-size: 12px;
}
.dropdown-menu .divider {
    margin: 0px 5px;
}
.right-col {
    padding-left: 15px;
}
.note {
    line-height: 25px;
    text-align: justify;
    margin-bottom: 20px;
}
.note-ul {
    border-bottom: solid 1px #f0f0f0;
}
.campaign {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.insignia {
    margin-left: 15px;
    margin-top: -70px;
}
.campaign-title {
    display: inline-block;
    margin: 15px;
    padding: 0px;
    line-height: 30px;
}
.insignia .avatar {
    margin: 0px;
}
.stat-table {
    margin: 0 auto;
    margin-top: 0px;
}
.stat-table td {
    padding: 3px;
    line-height: 20px;
    vertical-align: middle;
    border: none;
}
.stat-table label {
    text-transform: capitalize;
}
.card-user .content {
    min-height: 260px;
}
.create-icon {
    font-size: 100px;
    color: lightGray;
    padding: 30px;
    margin-bottom: 30px;
}
.create-icon:hover {
    color: gray;
}
.big-register {
    margin-top: 20px;
    text-transform: none;
}
.big-login {
    margin-left: 20px;
    text-transform: none;
}
.card {
    box-shadow: none;
}
.card-user .avatar {
    border: solid 4px;
}
.card-user .avatar.border-gray:hover {
    border-color: #777;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}
.dropdown-menu > li > a {
    color: #9A9A9A;
}
.dropdown-menu > li > a:hover {
    color: #777;
}
.dropdown-menu .divider {
    margin: 0px;
}
.current-user {
    font-size: 12px;
    margin-left: 15px;
}
.navbar-collapse {
    max-height: none;
}
.logo {
    margin: 5px 0px;
}
.footer .copyright {
    font-size: 12px;
    padding-right: 0px;
    margin-right: 0px;
}
.copyright i {
    margin-top: 4px;
}
.navbar {
    font-size: 14px;
}
.login .btn-login, .registerBox .btn-register{
    text-transform: none;
    margin-bottom: 30px;
}
.wizard-card .btn {
    text-transform: none;
    font-size: 14px;
}
.picture-container h6 {
    margin-bottom: 15px;
}
p.category {
    text-transform: capitalize;
}
#bodyClick {
    cursor: pointer;
}
#copyright {
    float: right;
}
@media (max-width: 991px) {
    #copyright {
        float: left;
    }
}