<div class="sidebar hidden" data-color="purple">    s
	<div class="sidebar-wrapper hidden">
        <div class="logo hidden">
            <a href="/campaigns/show" class="simple-text">
                Campaign Name
            </a>
        </div>       
        <ul class="nav hidden">
            <li>
                <a href="/dash">
                    <i class="pe-7s-notebook"></i> 
                    <p>Main</p>
                </a>            
            </li>
            <li>
                <a href="/activity">
                    <i class="pe-7s-bell"></i> 
                    <p>Activity</p>
                </a>        
            </li>
            <li>
                <a href="/notes">
                    <i class="pe-7s-note2"></i> 
                    <p>Notes</p>
                </a>        
            </li>
            <li>
                <a href="/characters">
                    <i class="pe-7s-users"></i> 
                    <p>Players</p>
                </a>
            </li> 
            <li>
                <a href="/">
                    <i class="pe-7s-news-paper"></i> 
                    <p>Story</p>
                </a>        
            </li>
            <li>
                <a href="/maps">
                    <i class="pe-7s-map-2"></i> 
                    <p>Maps</p>
                </a>        
            </li>
        </ul> 
	</div>
</div>