<!-- This dashboard UI was provided by Creative Tim's Light Bootstrap Dashboard and edited by me -->
<div class="sidebar hidden" data-color="none" data-image="">
  <div class="sidebar-wrapper">
       <div class="logo">
            <a href="/" class="navbar-brand">
                <i class="pe-7s-notebook"></i>
                Compactia
            </a>
            <div class="clearfix"></div>
        </div>       
        <ul class="nav">
        </ul>
	</div>
</div>