<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                        	New Note
                        </h4>
                    </div>
                    <div class="content">
                        <form action="" method="POST">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Title <small>(required)</small></label>
                                        <input type="text" class="form-control" name="title" placeholder="ex. Campaign Setting">
                                    </div>        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Body</label>
                                        <textarea rows="15" class="form-control" name="body"  placeholder=""></textarea>
                                    </div>        
                                </div>
                            </div>
                            <input type="submit" class="btn btn-info btn-fill pull-right" value="Create">
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>                    
    </div>
</div>