<div class="content">
    <div class="container-fluid">
        <div class="row">
        <!-- start forEach loop here -->
            <div class="col-sm-4">
                <a href="/characters/show">
                    <div class="card card-user">
                        <div class="image">
                            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>   
                        </div>
                        <div class="content">
                            <div class="author">
                                 <!--<a href="#">-->
                                <img class="avatar border-gray" src="/img/faces/face-3.jpg" alt="..."/>
                                  <h4 class="title">Legolas<br />
                                     <small>Elf Ranger</small>
                                  </h4>
                                <!--</a>-->
                            </div>  
                            <div class="text-center">
                            	<button class="btn btn-simple">
                            		<i class="pe-7s-way" style="margin-top:10px"></i>
                            		<br />
                            		<small>Mirkwood</small>
                            	</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                        	<div class="col-xs-4 text-left">
                            	<button class="btn btn-simple">
                            		<i class="pe-7s-medal"></i> <label>2,763</label>
                            	</button>
                            </div>
                            <div class="col-xs-4 text-center">
                            	<button href="#" class="btn btn-simple"><i class="pe-7s-more"></i>
                            	</button>
                            </div>
                            <div class="col-xs-4 text-right">
                            	<button class="btn btn-simple">
                            		<i class="pe-7s-diamond"></i> <label>4,500</label>
                            	</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>       
        </div>                    
    </div>
</div>